@page "/person/create"
@inject IPersonRepository _personRepository
@inject NavigationManager _navigationManager

<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    Person person = new Person();

    private async Task Create()
    {
        try
        {
            await _personRepository.CreatePerson(person);
            _navigationManager.NavigateTo("people");

        }
        catch (Exception _ex)
        {
            Console.WriteLine(_ex.Message);
        }
    }
}