@page "/register"

@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService

@using BlazorMovies.Client.Auth

    <div class="register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="" class="nounderline">Bootstrap<b>movies</b></a>
            </div>
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="register-box-msg">Register a new membership</p>

                    <EditForm Model="userInfo" OnValidSubmit="CreateUser">
                        <DataAnnotationsValidator />
                        <div class="input-group mb-3">
                            <InputText class="form-control" @bind-Value="@userInfo.Email" />
                            <ValidationMessage For="@(() => userInfo.Email)" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
                            <ValidationMessage For="@(() => userInfo.Password)" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-info btn-block">Register</button>

                        <div class="social-auth-links text-center mb-3">
                            <p>- or -</p>
                            <a href="#" class="btn btn-block btn-outline-info">
                                <i class="fab fa-facebook mr-2"></i> Register using Facebook
                            </a>
                            <a href="#" class="btn btn-block btn-outline-info">
                                <i class="fab fa-google-plus mr-2"></i> Register using Google+
                            </a>
                        </div>
                        <!-- /.social-auth-links -->

                        <p class="mb-1">
                            <a href="forgot-password.html"><small>I forgot my password</small></a>
                        </p>
                        <p class="mb-0">
                            <a href="login" class="text-center"><small>I already have a membership</small></a>
                        </p>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>

@code { private UserInfo userInfo = new UserInfo();

            private async Task CreateUser()
            {
                var userToken = await accountsRepository.Register(userInfo);
                await loginService.Login(userToken.Token);
                navigationManager.NavigateTo("");
            }
    }
