@page "/movies/create"
@inject NavigationManager navigationManager
@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepository
@attribute [Authorize]

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="_movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />
}

@code {
    private readonly Movie _movie = new Movie();
    private List<Genre> NotSelectedGenres;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenres();
    }

    private async Task SaveMovie()
    {
        try
        {
            var movieId = await moviesRepository.CreateMovie(_movie);
            navigationManager.NavigateTo($"movie/{movieId}/{_movie.Title.Replace(" ", "-")}");
        }
        catch (Exception _ex)
        {
            Console.WriteLine(_ex.Message);
        }
    }
}

