@page "/movies/edit/{MovieId:int}"

    <h3>Edit Movie</h3>
@if (Movie != null)
{
<MovieForm Movie="Movie" OnValidSubmit="Edit"></MovieForm>
}



@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie { get; set; }

    protected override void OnInitialized()
    {
        Movie = new Movie() { Id = MovieId, Title = "My Movie" };
    }

    private void Edit()
    {
        Console.WriteLine("editing movie ...");
    }


}